// Part of the pitcher github.com/gruncho/stylestree
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

// Select typo

$helvetica: 'Helvetica, sans-serif';
$georgia: 'Georgia, serif';

// Variables

$typo-first: $helvetica;
$typo-second: $georgia;